name: myfood

services:
  webapi:
    container_name: myfood-webapi
    image: postech.myfood.webapi
    build:
      context: .
      dockerfile: src/PosTech.MyFood.WebApi/Dockerfile
    environment:
      - 'ASPNETCORE_ENVIRONMENT=Docker'
      - 'ASPNETCORE_URLS=https://+:8081;http://+:8080'
      - 'ASPNETCORE_Kestrel__Certificates__Default__Password=password123'
      - 'ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx'
      - 'DOTNET_USE_POLLING_FILE_WATCHER=true'
    networks:
      - myfood-network
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - '$USERPROFILE\.aspnet\https:/https/'
    depends_on:
      - postgres

  postgres:
    container_name: myfood-postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: myfooduser
      POSTGRES_PASSWORD: blueScreen@666
      POSTGRES_DB: myfooddb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - myfood-network

  seq:
    container_name: myfood-seq
    image: datalust/seq:latest
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:5341
      - 3000:80
    networks:
      - myfood-network

volumes:
  postgres-data:

networks:
  myfood-network:
    driver: bridge